* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Maven Pro', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

.nav-link {
    font-size: 1.125rem;
    color: white;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.nav-link:hover {
    text-decoration: underline;
    transition: ease-in 300ms;
}

.burger-btn, .close-menu {
    font-size: 1.5rem;
    color: white;
    display: none;
    cursor: pointer;
}

.nav-ul {
    width: 55.456rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    width: 73rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
}

.header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .2);
    width: 100vw;
    height: 5.875rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-y: hidden;
    transition: transform 1.3s;
}

.header--hidden {
    transform: translateY(-5.875rem);
    box-shadow: none;
}

.nav-li {
    margin: 0 1.25rem;
}

.top {
    background-image: url('../img/download/top/bg-download.svg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-title {
    font-size: 4.3rem;
    font-weight: 800;
    color: white;
}

.top-desc {
    font-size: 1.125rem;
    color: white;
    margin-top: 1.5rem;
}

.top-title, .top-desc {
    text-align: center;
}

.top-container {
    height: 50%;
    margin: 0 6.5%;
    display: flex;
    align-items: center;
}

.top-textbox {
    width: 35.625rem;
}

.app {
    position: relative;
    background: white;
    padding: 4rem 0;
}

.app-title {
    font-size: 3.125rem;
    font-weight: 800;
    color: black;
    text-align: center;
}

.app-title-container {
    margin-bottom: 3rem;
}

.app-container, .register {
    margin: 3.125rem;
}

.app-container {
    margin-top: 0;
}

.app-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.app-store, .google-play {
    height: 44px;
}

.connect-title, .connect-li, .copyright-text {
    color: white;
    text-align: center;
}

.connect-title {
    font-size: 2.188rem;
    font-weight: bold;
}

.connect-li {
    font-size: 1.75rem;
}

.copyright-text {
    font-size: 1.063rem;
}

footer {
    background-color: #101820;
    width: 100vw;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-bar {
    height: 9.375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.connect-ul {
    margin-top: 1.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (min-width: 100.063rem) {
    .top-container {
        margin-left: 28.1%;
    }
}

@media screen and (max-width: 75rem) {
    .header--hidden {
        display: none;
    }

    .navbar .nav-ul {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }

    .navbar .nav-ul .close-menu {
        display: block;
        position: absolute;
        top: 4.7%;
        right: 5.125%
    }

    .logo {
        display: block;
        position: absolute;
        left: 5%;
    }

    .navbar .burger-btn {
        display: block;
        position: absolute;
        right: 5%;
    }

    .nav-link {
        font-size: 350%;
    }

    .nav-li {
        margin: 2% 0;
        overflow-y: hidden;
    }
}

@media screen and (max-width: 48rem) {
    .top-title {
        font-size: 215%;
    }

    .top-desc {
        font-size: 90%;
    }
}

@media screen and (max-width: 44.375rem) {
    .phone-num-container, .full-name-container, .email-container, .gender-container, .dob-container, .id-num-container {
        width: 100%;
    }

    .gender-input-box {
        margin: 0;
    }
}

@media screen and (max-width: 40rem) {
    .app-box {
        flex-direction: column;
    }
}

@media screen and (max-width: 30.938rem) {
    .copyright-text {
        font-size: 75%;
    }
}

@media screen and (max-width: 28.75rem) {
    .nav-link {
        font-size: 285%;
    }

    .nav-li {
        margin: 4% 0;
    }
}

@media screen and (max-width: 27.188rem) {
    .login-btn, .register-btn {
        width: 12.5rem;
    }
}

@media screen and (max-width: 23.75rem) {
    .nav-link {
        font-size: 250%;
    }

    .nav-li {
        margin: 10% 0;
    }
}

@media screen and (max-width: 23.125rem) {
    .copyright-text {
        font-size: 63%;
    }
}

@media screen and (max-width: 22.813rem) {
    .top-title {
        font-size: 164%;
    }
}

@media screen and (max-width: 21.25rem) {
    .nav-link {
        font-size: 200%;
    }
}

@media screen and (max-width: 20rem) {
    .gender-input {
        flex-direction: column;
        gap: 0;
    }
}

@media screen and (max-width: 19.063rem) {
    .app-title {
        font-size: 230%;
    }
}

@media screen and (max-width: 18.125rem) {
    .connect-title {
        font-size: 160%;
    }
}

@media screen and (max-width: 16.25rem) {
    .nav-link {
        font-size: 180%;
    }
}